* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bree-serif-regular {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  


body {
    background-image: url(./imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1380px;
    margin: auto;
    justify-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

#logo {
    max-width: 150px;
    align-items: center;
    justify-content: left;
}

.flex h4 {
    text-decoration: none;
    color: #ffffff;
}

header {
    position: sticky ;
    width: 100%;
    padding: 60px 5%;
    top: 0;
    left: 0;
    right: 0;
    transition: .5s;
}

header.rolagem {
    background-color: #000000;
    padding: 20px 5%;
}

header.rolagem a, header.rolagem i {
    color:#ffffff;
}

header i {
    color: #ffffff;
}

header ul {
    list-style-type: none;
    
}

header ul li {
    display: inline-block;
    margin: 0 40px;
}

.btn-contato button {
    width: 230px;
    height: 40px;
    border: 0;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: .2s;
    border-radius: 2rem;
}

.nav a:hover{
    color: #000000;
    background-color: #ffffff;
    border-radius: 1rem;
    transition: 0.8s;
    padding: 8px;
}


header ul li a {
    color: #fff;
    text-decoration: none;
    font-size:m edium;
}

.contato {
    width: 85%;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 120px;
    color: #fff;
    margin-left: 100px;
    padding: 50px;
    

}

.fomulario {
    max-width: 65%;
    background-color: #525151;
    border-radius: 30px;
    margin-left: 340px;
   

}

.contato h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.corpo {
    width: 70%;
    align-items: center;
    align-content: center;
    
}

.carousel1 {
    max-width: 64.5%;
    margin-top: 210px;
    justify-items: center;
    margin-left: 340px;
}

.text-center {
    margin-top: 80px;
    
    
}

.form-label {
    justify-items: center;
}




footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    align-items: center;
    align-content: center;
    font-size: small;
    padding:  5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    font-size: small    ;
    font-family: "Bree Serif", serif;
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}